.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #3aafa9;
    box-shadow: 2px 2px 7px 1px #3aa5a9;
}
.navbar__left{
    flex:0.5;
}
.navbar__left>h1{
    color: #feffff;
}
.navbar__center{
    flex: 1;
}
.navbar__right{
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0.5;
    padding: 15px;
}
.navbar__right>button{
    padding: 5px 15px;
    transition: 200ms ease-in;
    border-radius: 3rem;
    font-weight: 600;
    border: 1px solid #17252a;
    background-color:#17252a;
    color: #feffff;
}
.navbar__right>button:hover{
    transform: scale(1.1);
    font-weight: 600;
    color: #17252a;
}
