.register{
    display: flex;
    width: 60%;
    margin: 0px auto;
    height: 500px;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}
.register__left{
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.register__left>h1{
    padding: 20px;
    font-size: 30px;
    color: #2b7a78;
}
.register__left>.MuiSvgIcon-root{
    font-size: 60px;
    color: #2b7a78;
}
.register__right{
    margin-top: 50px;
    flex: 1;
    
}
.register__right__input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.register__right__input>input{
    font-size: 20px;
    margin: 15px;
    background: transparent;
    border:none;
    outline-width: 0;
    flex: 1;
}
.register__right__input>input:focus{
    border-bottom: 3px solid #2b7a78;
}
.register__right>form>Button{
    margin: 10px;
    border: 2px solid #2b7a78;
}